<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="generalSettings" type="WPFTemplate.ViewModels.Configuration.Client.GeneralSettings, WPFTemplate" allowLocation="false" allowDefinition="Everywhere" />
    <section name="contactSettings" type="WPFTemplate.ViewModels.Configuration.Client.ContactSettings, WPFTemplate" allowLocation="false" allowDefinition="Everywhere" />
    <section name="databaseSettings" type="WPFTemplate.ViewModels.Configuration.Client.DatabaseSettings, WPFTemplate" allowLocation="false" allowDefinition="Everywhere" />
    <section name="audioSettings" type="WPFTemplate.ViewModels.Configuration.Client.AudioSettings, WPFTemplate" allowLocation="false" allowDefinition="Everywhere" />
  </configSections>

  <contactSettings company="Your Company" 
                   address="Your Address"
                   phone="Your phonenumber"
                   email="Your email"
                   />
  
  <generalSettings culture="id-ID" 
                   signature="your signature" 
                   desktopNotifications="false" 
                   sounds="true" 
                   showTrayIcon="false" 
                   showTaskbarIcon="true" launchWhenSystemStarts="false" 
                   launchMinimized="false" />

  <databaseSettings connectionStringFormat="Data Source={0};Initial Catalog={1};User Id={2};Password={3};Integrated Security=False;MultipleActiveResultSets=True"
      server="." name="DigitPrint" userName="sa" password="sa123" providerName="System.Data.SqlClient" />

  <audioSettings error="" warning="" />
 
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>

</configuration>
